In [1]:
# Import BeautifulSoup and Pandas libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Read HTML from Wiki page
url = "https://en.wikipedia.org/wiki/Comma-separated_values"
response = requests.get(url) 
soup = BeautifulSoup (response.text, "html.parser")

In [5]:
# Extracts all tables
tables = soup.find_all("table")

In [7]:
# Checks number of tables
print(f"Number of tables: {len(tables)}")

Number of tables: 3

In [11]:
# Convert the first table to a pandas DataFrame
# If you want a different table, adjust the index (e.g., tables[1] for the second table)
table_html = str(tables[0])  # Select the first table
df = pd.read_html(table_html)[0]  # Read the table as a DataFrame

/var/folders/fy/14hxgrm51svd16v3p0d6pz5h0000gn/T/ipykernel_2211/1023487932.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(table_html)[0]  # Read the table as a DataFrame

In [13]:
# Display the DataFrame
df.head()  # Shows the first few rows of the table

,0,1
0,NaN,NaN
1,A simple CSV file listing three people and the...,A simple CSV file listing three people and the...
2,Filename extension,.csv
3,Internet media type,text/csv[6]
4,Uniform Type Identifier (UTI),public.comma-separated-values-text[7]

In [17]:
table_html = str(tables[1])
df = pd.read_html(table_html)[0]

/var/folders/fy/14hxgrm51svd16v3p0d6pz5h0000gn/T/ipykernel_2211/3698226811.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(table_html)[0]

In [19]:
df.head()

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.0

In [23]:
# Now knowing that the 2nd table is the desired table: 
car_data = pd.read_html(table_html)[0]  # Convert the HTML table to a pandas DataFrame
    print("Second table extracted:")

  # Save the extracted table as CSV
    car_data.to_csv("car_data.csv", index=False)  # Save the DataFrame to CSV without row numbers
    print("Table saved as car_data.csv")

Second table extracted:
Table saved as car_data.csv

/var/folders/fy/14hxgrm51svd16v3p0d6pz5h0000gn/T/ipykernel_2211/3077398620.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  car_data = pd.read_html(table_html)[0]  # Convert the HTML table to a pandas DataFrame